.gp{
    padding-left: 15%;
}
.logo{
    height:60%;
    width: 60%;
}
.container{
    padding-left:4%;
    color:rgba(232, 230, 227, 0);
    font-weight: bold;
}
.blog{
    color:rgb(51, 77, 110) !important;
}
.login{
    color: rgb(88, 80, 236) !important;
}
.third{
    padding-left:1% !important; 
}
.rr{
    text-align: center;
}
.crd{
    display:flex ; 
    flex-direction: column;
}
.pt2{
    color:#568aed;
}
.heading{
    font-family: neue;
}